
/*
/
/
/-----------------------========BASE========------------------------
/
/
*/

<<<<<<< HEAD

=======
body {
	padding-top: 70px;
}

h4 {
	line-height: 50px;
}
>>>>>>> master

/*
/
/
/-----------------------========LAYOUT========------------------------
/
/
*/






/*
/
/
/-----------------------========MODULE========------------------------
/
/
*/

<<<<<<< HEAD
=======
.btn-group {
	margin-bottom: 20px;
}
>>>>>>> master

/*
/
/
/-----------------------========STATE========------------------------
/
/
*/

#analysis {
	display:none;
<<<<<<< HEAD
=======
	width: 100%;
>>>>>>> master
}