
/*
/
/
/-----------------------========BASE========------------------------
/
/
*/

body {
	padding-top: 70px;
}

h4 {
	line-height: 50px;
}


/*
/
/
/-----------------------========LAYOUT========------------------------
/
/
*/






/*
/
/
/-----------------------========MODULE========------------------------
/
/
*/


.btn-group {
	margin-bottom: 20px;
}


/*
/
/
/-----------------------========STATE========------------------------
/
/
*/

#analysis {
	display:none;

	width: 100%;

}